<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Presentación Miguel Rivera</title>
    
    <meta name="description" content="Presentación de Miguel Rivera rivera usando Impress JS para la universidad" />
    <meta name="author" content="Bartek Szopka" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link href="css/impress-demo.css" rel="stylesheet" />
    <link href="css/impress-common.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">

<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>
<div id="impress"
    data-transition-duration="600"
    data-width="1024"
    data-height="768"
    data-max-scale="3"
    data-min-scale="0"
    data-perspective="1000"
    
    data-autoplay="700">

    <div id="Preparación" class="step slide " data-x="-1000" data-y="-500">
        <q>Heramientas necesarias</q>
        <li><a href="https://code.visualstudio.com/">Vs Code</a></li>
        <li><a href="https://nodejs.org/es/">Node Js</a></li>
        <li><a href="https://devcenter.heroku.com/articles/heroku-cli">Heroku Cli</a></li>
        <li>Esta presentación usa <a href="https://github.com/impress/impress.js/">impress.js</a></li>

    </div>

    <div id="Inicio" class="step slide" data-x="-1000" data-y="-1500">
        <h1>
            <q>
                <p class="typewrite" data-period="2000" data-type='[ "Vivir en las nubes", "Pasar de la consola a la nube", "Trabajar en la nube"]'>
                    <span class="wrap"></span>
                </p>
            </q>
        </h1>
        <h1>Ing. Miguel Rivera</h1>
        <h1>Programa de Extensión</h1>
        <h1>Programa de Ingeniería Electrónica</h1>
        <br>
        <img src="images/EscudoUnimag.png" alt="Unimagdalena" width="200">

    </div>

    <div class="step slide" data-x="0" data-y="-1500">
        <q>Un poco de..
            <br>
            <li>Mi Historia</li>
            <li>¿Que es la nube?</li>
            <li>Manos a la obra</li>
        </q>
    </div>

    <div class="step slide" data-x="1000" data-y="-1500">
        <q>Cómo comienza mi historia</q>
        <li>Santa Marta, 1990-06-29T22:30:00+0500</li>
        <li>El mundo era analógico en su mayoría</li>
        <li>Aun estaba la vieja constitución</li>
    </div>

    <div class="step" data-x="1000" data-y="-1000" data-z="200" data-rotate-y="70">
        <h1>15 Años despues</h1>
    </div>

    <div class="step slide" data-x="1000" data-y="-1500" data-z="-10" data-rotate-y="180">
        <h3><li>Estudiaba en el San Luis Beltran</li></h3>
        <h3><li>Aprendí nociones de programación con turtle</li></h3>
        <h3><li>Aprendí nociones de html estático</li></h3>
        <br>
        <img src="images/tortuga.gif" width="300">
        <img src="images/touga_circulo.gif" width="300">
    </div>

    <div class="step slide" data-x="0" data-y="-1500" data-z="-10" data-rotate-y="180">
        <q>Resultado Prueba de aptitud: Ciencias Naturales</q>
        <q>Escoger mi carrera fue en parte aleatorio</q>
    </div>

    <div class="step slide" data-x="-1000" data-y="-1500" data-z="-10" data-rotate-y="180">
        <h3><li>Ingrese al programa de Ingeniería Electrónica</li></h3>
        <h3><li>Año 2007</li></h3>
        <br>
        <img src="images/tigoOla.jpg" width="200">
        <img src="images/motoL6.jpg" width="300">

        <div class="notes">
            <li>mi segunda opción fue ingenieria de sistemas </li>
            <li>el motorola L6 solo tenia 10 MB de capacidad </li>
            <li>cámara de 0.3 Megapíxeles</li>
            <li>Dato Curioso el Iphone fue lanzado el 29 de junio de ese año y 
                yo nunca he comprado un he tenido uno para uso diario </li>
        </div>

    </div>
    <div id="recapitular" class="step" data-x="0" data-y="0" data-scale="2">
        <h1>Detengamonos a pensar...</h1>
        <img src="images/adolecencia.jpg" alt="adolecente" width="200">

        <div class="notes">
            <li>Era un Adolecente de 16 años</li>
            <li>Creía que iba a terminar en una juguetería</li>
            <li>Si no sabia que era una resistencia no me pidas definir un transistor</li>
            <li>Así muchos entramos a la universidad, Digamos que lo diferente es que yo 
                tuve la suerte de entrar a algo que me iba a gustar por toda la vida</li>
        </div>
    </div>

    <div class="step slide" data-x="1500" data-y="0" data-z="0">
        <img src="images/estudiando.jpg" alt="gideam" width="350">
        <img src="images/calculo.jpg" alt="gideam" height="350">
        <img src="images/fuente.jpg" alt="gideam" width="350">
        <img src="images/osciloscopio_error.jpg" alt="gideam" width="350">
    </div>

    <div class="step slide" data-x="2000" data-y="0" data-z="-500" data-rotate-y="90">
        <img src="images/lcd_error.jpg" alt="gideam" width="350">
        <img src="images/incubadora.jpg" alt="gideam" width="350">
        <img src="images/osciloscopio.jpg" alt="gideam" width="350">
        <img src="images/spartan.jpg" alt="gideam" width="350">
    </div>

    <div class="step slide" data-x="1500" data-y="0" data-z="-1000" data-rotate-y="180">
        <img src="images/GideamLogo.jpeg" alt="gideam" width="350">
        <img src="images/IEEE.jpg" alt="IEEE" width="350">
    </div>

    <div class="step slide" data-x="1000" data-y="0" data-z="-500" data-rotate-y="270">
        <q>
            <li>Conseguí tema para la tesis</li>
            <li>Financiación de equipos para desarrollarlas</li>
            <li>Participación en eventos</li>
            <li>Publicacion de Articulo Cientifico</li>
            <li>Recomendacion para mi primer trabajo</li>
        </q>
    </div>

    <div class="step slide" data-x="1500" data-y="-450" data-z="-500" data-rotate-x="90" data-rotate-z="270">
        <img src="images/iee_xtreme.jpg" alt="gideam" width="350">
        <img src="images/pc_watercooling.jpg" alt="gideam" width="350">
        <img src="images/colcom.jpg" alt="gideam" width="350">
        <img src="images/fotoCongreso.JPG" alt="gideam" width="350">
    </div>

    <div class="step slide" data-x="1500" data-y="450" data-z="-500" data-rotate-x="-90" data-rotate-z="270">
        <q>Dr. Movil Tesis de grado</q>
        <img src="images/dr_MovilBB.png" alt="tesis" height="350">
        <img src="images/dr_MovilAD.png" alt="tesis" height="350">
    </div>

    <div class="step" data-x="2500" data-y="450" data-z="-500" data-rotate-x="-90" >
        <q>
            <li>Joven investigador 2013-2014</li>
        </q>
        <img src="images/Gideam_foto.jpg" alt="">

        <div class="notes">
            <li>Joven de 22 años</li>
            <li>Ingeniero recien graduado</li>
            <li>Comenzando una carrera en la academia</li>
            <li></li>
        </div>
    </div>

    <div class="step" data-x="2500" data-y="450" data-z="-500" data-rotate-x="-90"  data-rotate-y="90">
        <li>Santa Marta en la TV</li>
        <li>Space app Challenge</li>
        <li>Conferencia de comunicaciones</li>
        <li>Campus party 2013</li>
        <li>Articulo Cientifico</li>
    </div>

    <div class="step" data-x="2500" data-y="450" data-z="-1300" data-rotate-x="-90"  data-rotate-y="90" >
        <q>
            <li>Master 2014-2015</li>
        </q>
        <img src="images/master.JPG" width="500">

        <div class="notes">
            <li>Conocí bastante personas que hasta el dia de hoy siguen conmigo</li>
            <li>aprendi nociones de administracion de empresas</li>
            <li>Prebuild entro en quiebra</li>
        </div>
    </div>


    <div class="step" data-x="2500" data-y="450" data-z="-1300" data-rotate-x="-90" >
        <q>
           Gerente de Mercadeo, Dentalium 2015 ago-dic
        </q>
        <br>
        <img src="images/dentalium.jpg" width="500">
    </div>


    <div class="step" data-x="2500" data-y="450" data-z="-2200" data-rotate-x="-90" >
        <q>
           Hardtech, 2015-2016
        </q>
        <br>
        <img src="images/hardtech.jpeg" width="500">
    </div>


    <div class="step" data-x="2500" data-y="450" data-z="-2200" data-rotate-x="-90" data-rotate-y="90" >
        <q>
           Avanxo, 2016-2018
        </q>
        <br>
        <img src="images/Avanxo.jpg" width="500">
    </div>


    <div class="step" data-x="2500" data-y="450" data-z="-3100" data-rotate-x="-90" data-rotate-y="90" >
        <q>
           Mahisoft, 2018-Hoy
        </q>
        <br>
        <img src="images/Mahisoft.jpg" width="500">
    </div>

    <div class="step" data-x="2500" data-y="450" data-z="-3100" data-rotate-x="-90">
        <q>
           ¿Que es la nube?
        </q>
        <br>
        <img src="images/cloud.jpg" width="500">
    </div>

    <div class="step slide" data-x="2500" data-y="1500" data-z="-3100" data-rotate-x="-90">
        Red de servidores interconectados y no centralizados
       <br>
       <q><img src="images/red.png" width="500"></q>
    </div>

    <div class="step slide" data-x="1500" data-y="1500" data-z="-3100" data-rotate-x="-70">
            <q><img src="images/ispaas.jpg" width="500"></q>
            <a href="https://sites.google.com/site/siclou003/conceptos-previos/capas-de-cloud-computing">Fuente</a>
    </div>

    <div class="step" data-x="500" data-y="500" data-z="-3100" data-rotate-x="40" data-rotate-y="20" >
        <q><img src="images/redhat.png" width="800"></q>
        <a href="https://www.redhat.com/es/topics/cloud-computing/what-is-iaas#:~:text=La%20infraestructura%20como%20servicio%20(IaaS,con%20la%20inform%C3%A1tica%20sin%20servidor.">Fuente redhat</a>
    </div>
    <div class="step" data-x="-500" data-y="-500" data-z="-6000" data-rotate-x="-40" data-rotate-y="120" >
        <q><img src="images/cafe.gif" width="700"></q>
    </div>

    <div class="step slide" data-x="500" data-y="-500" data-z="-3100" data-rotate-x="40" data-rotate-y="20" >
            
        <h1>
            <q>
                <p href="" class="typewrite" data-period="2000" data-type='[ "Manos a la obra: "]'>
                    <span class="wrap"></span>
                </p>
            </q>
        </h1>
            <table style="width:100%">
                <tr>
                    <td>Node js</td>
                </tr>
            </table>
            <li>Abrimos VSCode</li>
            <li>Creamos una carpeta</li>
            <li>creamos un archivo llamado app.js</li>
            <li>ejecutamos el comando <a>npm init</a></li>
            <li>añadimos las dependencias 
                "dependencies": {
                  "express": "^4.17.1"
                },</li>
    </div>

    <div class="step slide" data-x="200" data-y="-300" data-z="-2500" data-rotate-x="140" data-rotate-y="-20" >
        
        <h1>
            <q>
                <p href="" class="typewrite" data-period="2000" data-type='[ "Manos a la obra: "]'>
                    <span class="wrap"></span>
                </p>
            </q>
        </h1>
        <table style="width:100%">
            <tr>
                <td>app.js</td>
            </tr>
        </table>
        <li style="font-size: medium;line-height: 1.6;">const port = 3000;<br/>var express = require('express');<br/>var app = express();<br/>const path = require('path');<br/>// pagina raiz<br/>app.get('/', function(req, res) {<br/>    res.set('Content-Type', 'text/html');<br/>    res.send('&lt;html&gt;&lt;body&gt;&lt;p&gt;Hola unimag&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;');<br/>    //res.sendFile(path.join(__dirname, '/index.html'));<br/>});<br/>app.listen(port);<br/>console.log(port + ' es el puerto de la magia');</li>
    </div>

    <div class="step slide" data-x="-400" data-y="-200" data-z="-1000" data-rotate-x="40" data-rotate-y="20" >
            
        <h1>
            <q>
                <p href="" class="typewrite" data-period="2000" data-type='[ "Manos a la obra: "]'>
                    <span class="wrap"></span>
                </p>
            </q>
        </h1>
            <table style="width:100%">
                <tr>
                    <td>Node js</td>
                </tr>
            </table>
            <li>npm install</li>
            <li>npm start</li>
            <li>en un explorador abrimos <a href="http://localhost:3000">http://localhost:3000</a></li>
            <li>git init</li>
            <li>crear archivo .gitignore que contenga "node_modules"</li>
    </div>

    <div class="step slide" data-x="300" data-y="10" data-z="-2200" data-rotate-x="-10" data-rotate-y="160" >
        
        <h1>
            <q>
                <p href="" class="typewrite" data-period="2000" data-type='[ "Manos a la obra: "]'>
                    <span class="wrap"></span>
                </p>
            </q>
        </h1>
        <table style="width:100%">
            <tr>
                <td>Heroku</td>
            </tr>
        </table>
        <li>heroku login</li>
        <li>heroku create</li>
        <li>apuntamos el nombre</li>
        <li>cd ubicacion_de_mi_Proyecto</li>
        <li>heroku git:remote -a Nombre_apuntado</li>
        <li>git add .</li>
        <li>git commit -am "Primer Commit"</li>
        <li>git push heroku master</li>
        <li>Dirigete a heroku y verifica que este funcionando</li>
        <li>heroku logs --tail -a Nombre_apuntado</li>
    </div>

    <div class="step slide" data-x="1300" data-y="10" data-z="-2200" data-rotate-x="-10" data-rotate-y="160" >
        
        <h1>
            <q>
                <p href="" class="typewrite" data-period="2000" data-type='[ "Manos a la obra: "]'>
                    <span class="wrap"></span>
                </p>
            </q>
        </h1>
        <table style="width:100%">
            <tr>
                <td>Heroku</td>
            </tr>
        </table>
        <li>const port = process.env.PORT || 3000;</li>
        <li>git commit -am "Cambiamos puerto"</li>
        <li>heroku logs --tail -a Nombre_apuntado</li>
    </div>

    <div class="step slide" data-x="-300" data-y="1000" data-z="-1000" data-rotate-x="-10" data-rotate-y="160" >
            <q>
                <p href="" class="typewrite" data-period="2000" data-type='[ "¿Y ahora? "]'>
                    <span class="wrap"></span>
                </p>
                <li>Comentarios</li>
                <li>Preguntas</li>
            </q>
    </div>

    <div id="overview" class="step" data-x="3000" data-y="1500" data-z="0" data-scale="10">
    </div>

</div>
<div id="impress-toolbar"></div>

<div class="hint">
    <p>Buenas tardes y sean bienvenidos... la presentación comenzará en breve</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
}
</script>
<script src="js/impress.js"></script>
<script src="js/animation.js"></script>
<script>impress().init();</script>
</body>
</html>


